﻿
<link rel="stylesheet" href="~/css/site.css" />


<body>
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-success text-center" style="background-color: #333333; color: #FFFFFF; border-radius: 15px; padding: 20px;">
            <h2 style="color: #FF6600;">Order completed successfully</h2>
            <p>You can check all your orders in the Orders section of your profile</p>
            <hr style="background-color: #FFFFFF;">
            <p style="color: #FF6600;">Thank you!</p>
        </div>
    </div>
</body>
