
﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center" style="background-color: #333333; color: #FFFFFF; border-radius: 15px; padding: 20px;">
        <h2 style="color: #FF6600; font-size: 2em; margin-bottom: 10px;">You are not allowed to access this page</h2>
        <p style="font-size: 1.2em; line-height: 1.6em; margin-bottom: 10px;">Please, click the button below to be redirected to the home page.</p>
        <hr style="border-color: #FFFFFF;" />
        <p>
            <a href="/Store/Index" class="btn btn-outline-success" style="background-color: #FF6600; color: #FFFFFF; border: none; padding: 10px 20px; font-size: 1em; cursor: pointer;">Home Page</a>
        </p>
    </div>
</div>
